.bundle
.idea
db/*.sqlite3
log/*.log
tmp/**/*
config/database.yml
config/deploy_info.yml
nbproject/
config/amqp.yml
config/*.sphinx.conf
log
*~
*#
._*
*_flymake.rb
.*.swp
*.swp
config/database.yml
config/config.el
tmp/
.generators
.rakeTasks
.DS_Store
db/sphinx/
config/*.sphinx.conf
coverage/
.idea
.ditz-config
*.iml
*.ipr
*.iws
public/system
/TAGS
/tags
/.rake_tasks
spec/reports/
/tags
.sass-cache
public/assets

